{% extends "Curso/base.html" %}
{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'Curso/assets/img/02.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">¿Te gustaria aprender?</h2>
                    <p>Nuestra plataforma educativa en línea está aquí para apoyarte en cada paso del camino. ¡Inscríbete hoy y comienza tu viaje hacia el éxito!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}